body{
	background-color: #FAFBFD;
}
*{
    font-family: Montserrat, sans-serif;
}
.corporative-goberment p, .corporative-goberment a{
  letter-spacing: 1px;
}

.column_text_left{
 	float: left;	
}
.column_text_right{
 	float: right;	
}
.background_transparent{
 	background: transparent;	
}
.background_normal{
 	background: #FAFBFD;	
}
.font700{
	font-weight: 700;	
}
.font500{
	font-weight: 500;	
}
.font400{
	font-weight: 400;	
}
.font42{
	font-size:42px;
}
.font30{
	font-size:30px;
}
.font24{
	font-size:24px;
}
.font16{
	font-size:16px;
}
.font12{
	font-size:12px;
}
.font10{
	font-size:10px;
}
.lh24{
	line-height:24px;
}
.border-right--grey-light{
	border-color: #E1E2E4 !important;
}
.bg-grey-light{
	background:#F2F1ED;
} 
.color-grey-light{
	color:#F2F1ED;
}
.color-white {
    color: white;
}
.color-gray {
    color: #4D4D4D;
}
.color-black {
    color: #000000;
}
.vertical-line {
	display: inline-block;
  	border-left: 1px solid gray;
  	height: 70px;
}
.column_container_text {
	line-height: 26px;
	color: #4D4D4D;
	text-align: left;
}
.column_container_pic {
	float: left;
	background: #FAFBFD;
	width: 500px;
	padding: 10px;
	margin-top: 5px;
}
.column_container_null {
	float: left;
	width: 500px;
	height: 370px;
	padding: 10px;
	margin-top: 5px;
	color: #4D4D4D;
}
.column_container_text_right{
	width: 498px;
	padding: 0px;
	margin-top: 10px;
	line-height: 10px;
	color: #FFFFFF;
	background: transparent;
	font-weight: 700;
	font-size: 2em;
}
 
 .column_container_footer{
	display: flex;
	flex-direction:column;
	width: 250px;
	padding: 0px;
	margin-top: 10px;
	margin-left: 0px;
	line-height: 10px;
	color: #FFFFFF;
	background: #E5E5E5;
	font-weight: 700;
	font-size: 2em;
	text-align: left;
	}
.row_container{
	content: "";
  	display: flex;
    flex-flow: row wrap;
    flex-direction: row ;
    justify-content: flex-start;
    align-items: flex-start;
    background: #FAFBFD;
    padding-top: 10px;
  	margin: 0;
 	width: 1235px;
 	border:0px;
}

.row_container:after {
	content: "";
	display: table;
	clear: both;
}
.flex-item {
	background: #FAFBFD;
	padding: 0px;
	width: 498px;
	margin-top: 5px;
	line-height:24px;
	color: #4D4D4D;
	font-weight: 400;
	font-size: 16px;
	text-align: left;
}
.flex-item1 {
	background: transparent;
	padding: 0px;
	width: 498px;
	margin-top: 5px;
	line-height:24px;
	color: #FFFFFF;
	font-weight: 400;
	font-size: 16px;
	text-align: left;
}
.btn-link-orange, .btn-link-orange:hover{
    color: #FF595A;
}
.btn-red{
	display: inline-flex;
  	align-items: center; 
	height: 52px; 
    width: fit-content;
    padding: 0 50px;
    background: #FF595A;
    color: #FFFFFF;
    border: none;
    border-radius: 0px;
    text-align: center; 
    font-weight: 700;
  	font-size: 10px;
}
.btn-red hr {
    color: #FFFFFF;
    height: 1px;
    width: 16px;
    background: #FFF;
    opacity: 1;
    margin-left: 10px;
}
.btn-red:hover{
    background: #FF595A;
    color: #FFFFFF;
    opacity: 0.9;
}
.btn-red:visited{
    background: #FF595A;
    color: #FFFFFF;
    opacity: 0.9;
}
.btn-white{
	display: inline-flex;
  	align-items: center; 
	width: fit-content;
	padding: 0 50px;
	height: 52px; 
    background: #FFFFFF;
    color: #FFFFFF;
    border: none;
    border-radius: 0px;
    text-align: center; 
    font-weight: 700;
  	font-size: 10px;
}
.btn-white hr {
    color: #FFFFFF;
    height: 1px;
    width: 16px;
    background: #FFF;
    opacity: 1;
    margin-left: 10px;
}
.btn-white:hover{
    background: #FFFFFF;
    color: #4D4D4D;
    opacity: 0.9;
}
.btn-white:visited{
    background: #FFFFFF;
    color: #4D4D4D;
    opacity: 0.9;
}
.btn-white-border{
	display: flex;
  	align-items: center;
    justify-content: center;
    color:#000;
	height: 52px; 
    color: #4D4D4D !important;
    border: 1px solid black;
    border-radius: 1px;
    font-weight: 700;
  	font-size: 10px;
    font-family: Montserrat, sans-serif;
}
.bg-texture{
	width: 1235px;
	height: 500px;
    display: inline;
    position: static;
    top:0;
    width: 100%;
    align-content: space-between;
    object-fit: contain;
}
h2{
	font-size: 30px;
	font-weight:700;
	line-height:40px;
	background: transparent;
}
h2.n1{
	font-size: 20px;
	font-weight:700;
	line-height:40px;
	background: transparent;
}
hr {
	width: 16px;
	margin-left: auto;
	margin-right: auto;
	height: 2px;
	opacity: 1;
}
hr.new1 {
	width: 1235px;
	margin-left: auto;
	margin-right: auto;
	height: 2px;
	opacity: 1;
	color:"#E1E2E4"
}
hr.new1 {
	width: auto;
	margin-left: auto;
	margin-right: auto;
	height: 2px;
	opacity: 1;
	color:"#E1E2E4"
}
a:link {
	color: red;
	text-decoration: none;
} 
a:visited {
	color: red;
	text-decoration: none;
}
a:hover {
    color: red;
    text-decoration: none;
    background-color: transparent;
}  
a.n1:link {
    color: #4D4D4D;
    text-decoration: none;
} 
a.n1:visited {
    color: #4D4D4D;
    text-decoration: none;
}
a.n1:hover {
    color: #4D4D4D;
    text-decoration: none;
    background-color: transparent;
} 
a.n2:link {
    color: #FFFFFF;
    text-decoration: none;
} 
a.n2:visited {
    color: #FFFFFF;
    text-decoration: none;
}
a.n2:hover {
    color: #FFFFFF;
    text-decoration: none;
    background-color: transparent;
} 
ul{
	display: inline-flex;
  	flex-direction:column;
  	list-style-type: none;
    background: #E5E5E5;
    color: #4D4D4D;
    border: none;
    line-height:16px;
    border-radius: 0px;
    text-align: left; 
    font-weight: 500;
  	font-size: 12px;
    font-family: Montserrat, sans-serif;
}
.surde{
    background-image: url(../img/H321.png);
    background-repeat: no-repeat;
    height: 550px;
    background-size: cover;
    background-position: center;
}
.susten{
    background-image: url(../img/image31.jpg);
    background-repeat: no-repeat;
    height: 500px;
    background-size: cover;
    background-position: center;
    line-height: 22px;
}
.lettersp20{
	letter-spacing: 2px;
}
	 
.padding{
    display: flex;
    align-content: flex-end;
    justify-content: flex-end;
    flex-direction:column; 
    height:30px;
    padding: 0px 10px 10px;
}
.navigation {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    list-style: none;
    margin: 0; 
    flex-direction:column; 
    height:30px;
    padding: 0px 10px 10px;
}
.container_text_title {
	display: flex;
	justify-content:center;
  	background: #FAFBFD;
  	width: 600px;
  	padding: 20px;
  	margin-top: 70px;
  	line-height: 40px;
  	color: #4D4D4D;
  	font-size: 30px;
  	text-align: center;
  	font-family: Montserrat, sans-serif;
}
.container_text {
	display: flex;
	justify-content:center;
  	background: #FAFBFD;
  	width: 815px;
  	padding: 10px;
  	margin-top: 10px;
  	line-height: 24px;
  	color: #4D4D4D;
  	font-size: 16px;
  	text-align: center;
  	/* Montserrat Bold = 700 */
  	font-family: Montserrat, sans-serif;
}
.center {
	display: flex;
	flex-direction: column;
	justify-content:center;
	-webkit-flex-wrap: nowrap;
  	flex-wrap: nowrap;

}
.square-responsive{
    width: 100%;
    height: 0;
    padding-bottom: 50%;
    position: relative;
}
.square-responsive__inner{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}
.img-fluid{
    min-width: 100%;
}
.color-red {
    color: red;
}
.bg-whitegray{
	background:#FAFBFD;
}
@media screen and (max-width: 992px) {

}
@media screen and (max-width: 768px) {

}
@media screen and (max-width: 576px) {

}